##-----------------------------------------------------------------
## Add commas in a comma separated list to all items but the last
## Param: $index - pass in $velocityCount
## Param: $list  - pass in your velocity list variable
##-----------------------------------------------------------------
#macro(commaIfNeeded $index $list)
    #set ( $lastone = $list.Count - 1 )
    #if( $index <= $lastone ),
    #else

    #end
#end

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

CREATE DATABASE /*!32312 IF NOT EXISTS*/ `$reportDesign.properties.databaseName` /*!40100 DEFAULT CHARACTER SET utf8 */;

USE `$reportDesign.properties.databaseName`;

#set( $dataset = $reportData.dataSets.get("allPatients") )

#foreach ($dataSetMapEntry in $reportData.dataSets.entrySet())

    --
    -- Table structure for table `$dataSetMapEntry.key`
    --

    DROP TABLE IF EXISTS `$dataSetMapEntry.key`
    /*!40101 SET @saved_cs_client     = @@character_set_client */;
    /*!40101 SET character_set_client = utf8 */;

    CREATE TABLE `$dataSetMapEntry.key` (
    `Host` char(60) COLLATE utf8_bin NOT NULL DEFAULT '',
    `Db` char(64) COLLATE utf8_bin NOT NULL DEFAULT '',
    `User` char(16) COLLATE utf8_bin NOT NULL DEFAULT '',
    `Table_name` char(64) COLLATE utf8_bin NOT NULL DEFAULT '',
    `Column_name` char(64) COLLATE utf8_bin NOT NULL DEFAULT '',
    `Timestamp` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
    `Column_priv` set('Select','Insert','Update','References') CHARACTER SET utf8 NOT NULL DEFAULT '',
    PRIMARY KEY (`Host`,`Db`,`User`,`Table_name`,`Column_name`)
    ) ENGINE=MyISAM DEFAULT CHARSET=utf8 COLLATE=utf8_bin COMMENT='Column privileges';
    /*!40101 SET character_set_client = @saved_cs_client */;

    --
    -- Dumping data for table `$dataSetMapEntry.key`
    --

    LOCK TABLES `$dataSetMapEntry.key` WRITE;
    /*!40000 ALTER TABLE `$dataSetMapEntry.key` DISABLE KEYS */;
    #set( $dataset = $dataSetMapEntry.value )
INSERT INTO `$dataSetMapEntry.key` VALUES##
#foreach( $row in $dataset )
(##
#foreach( $column in $dataset.metaData.columns )
#set( $colValue = $row.getColumnValue($column) )
#if ( $util.instanceOf($colValue, 'java.util.Date') )
'$util.format($colValue, 'yyyy-MM-dd HH:mm:ss')'##
#else
'$util.format($row.getColumnValue($column))'##
#end
#commaIfNeeded($velocityCount, $dataset.metaData.columns)
#end##
#end
)
%Type#commaIfNeeded($velocityCount, $dataset.metaData.columns)

/*!40000 ALTER TABLE `$dataSetMapEntry.key` ENABLE KEYS */;
UNLOCK TABLES;
#end
